# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
lib/
lib64/
__pypackages__/

# Django
*.log
local_settings.py
media

# dotenv environment variables file
.env

.DS_Store